*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
SE_01/2/Task2/.classpath
SE_01/2/Task2/.project
SE_01/2/Task2/.settings/org.eclipse.core.resources.prefs
SE_01/2/Task2/.settings/org.eclipse.jdt.core.prefs
SE_01/2/Task2/.settings/org.eclipse.m2e.core.prefs
SE_01/6/task6/.classpath
SE_01/6/task6/.project
SE_01/6/task6/.settings/org.eclipse.jdt.core.prefs
SE_01/6/task6/.settings/org.eclipse.m2e.core.prefs
SE_01/6/task6/.settings/org.eclipse.core.resources.prefs
